<style>
body {
    font-family: "Lato", sans-serif;
}

.wrapper{
    background-color: #EDF0F5;
    height: 1000px;

}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(110, 184, 240);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fffefe;
    display: block;
}

.sidenav a:hover {
    color: #111111;
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
}

.sales {
    margin-right: 20px; 
    border: onset rgb(180, 178, 178);
    border-width: 1px;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    display: inline-block;
    padding: 7px;
    font-size: 15px;
    background-color: white;
}

h2{
    margin-top: 0px;
}

.table{
    background-color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 15px;}
}
</style>