
#register{
  display: inline-block;
  width: 400px;
}
#login{
  display: inline-block;
  width: 400px;
  vertical-align: top;
  margin-left: 80px;
}
#login-form{
  margin-top: 28px;
}
#clothes-description{
    display:inline-block;
    margin-right: 9px;
}
.clothes-input{
  display:inline-block;
}
input[type=number]{
  width: 80px;
}

#total {
  text-align:center;
}

#dash-list, #orders{

  display: inline-block;
}
#items {
  display: inline-block;
  width: 400px;
  background-color: red;
}
#summary{
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
#requests {

  width: 300px;
}
#dates {
  display: inline-block;
  width: 500px;
}
#order-items{
  vertical-align: top;
}
#summary{
  margin-left: 100px;
}
#update-form {
  margin-left: 25px;
  margin-top: 20px;
  display: inline-block;
  width: 300px;
}
#dash-left{
  display: inline-block;
  width: 325px;
}
#dash-list{
  width: 300px;
}
#orders{
  margin-left: 150px;
  width: 850px;
  vertical-align: top;
  max-height: 900px;
  overflow: scroll;
  padding: 10px;
}
#user-login-info{
margin-left: 10px;
}