<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/orderinfo.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'main/img/bubbleico.ico' %}" />
    <title>Order Info</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidenav">
            <a href="/">Home</a>
            <a href="#">Orders</a>
            <a href="#">Order Info</a>
            <a href="/logout">Logout</a>
        </div>

        <div class="left">
            <br>
            <h2>Order Details</h2>
            <div class="inbox">
            <h3>Name: {{order.customer.name }}</h2>
                <ul>
                    {% for p in order.list_items.all %}
                    <li>
                        {{p.product.product|title}} - {{p.quantity}} pcs
                    </li>
                    {% endfor %}
                    <li>Sub Total: ${{order.total}}</li>
                    <li>Pick up/Drop off Date: {{order.method_date}}</li>
                    <li>Special Request: {{order.special}}</li>
                </ul>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <form action="../../admin/text" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="order_id_status" value="{{order.id}}" />
                  <button type="submit" class="btn btn-primary">Complete</button>
                  <button type="button" class="btn btn-danger" onclick="cancel()">Cancel</button>
                </form>
            </div>
        </div>
        <div class="right">
            <br>
            <div class="inbox">
                <h3>Customer Info</h2>
                <ul>
                    <li>Total amount of sales for {{user_order.name}}: ${{user_ordert.total__sum}}</li>
                    <li>Phone Number: {{user_order.phone_number}}</li>
                    <li>Email: {{user_order.email}}</li>
                    <li>Address: {{user_order.address.street}} {{user_order.address.city}}, {{user_order.address.state}} {{user_order.address.zip}}</li>
                    <br>
                    <br>
                    <br>
                    <br>
                </ul>
                <h3>Location</h3>
                <p>{{user_street}}</p>
                <iframe width="425" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA9a9O3tb12LOQ6hFBrD4l6uPcjwuzm4fU&q={{user_streetlist.0}}+{{user_streetlist.1}}+{{user_streetlist.2}}+{{user_address.city}}+{{user_address.state}}" allowfullscreen>
                </iframe>
            </div>
        </div>
        </div>

</body>
</html>
<script>
function cancel(){

  window.history.back()
}
</script>
